.Events {
    margin: 80px 0px;
}


.HeroButton {
    margin: 20px auto;
    background-color: #8b9d83;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
  }



  @media only screen and (max-width: 991px) {
    .HeroButton {
        display: block;
        justify-content: center;
    }
}