.Fixed {
    bottom: 0;
    background-color: #8b9d83;
    height: 140px;
    width: 100%;
    padding-top: 50px;
  }
  
  .Navlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  @media only screen and (max-width: 991px) {
    .Navlinks {
      display: flex;
      flex-direction: column;
      margin: 0;
    }
    .LogoText {
      display: none;
    }
    .Logo {
      margin: 0px 20px;
    }
  }